@import "./mixin/mixin";
// home rtl
.home {
  .container {
    .row {
      // slider
      .col-md-12.slide-controls-2.demoo {
      }
      .clearfix {
      }
      // like hr
      .divider-line.solid.light {
      }
      .clearfix {
      }
      // about & img
      .about.sec-padding {
        padding: 100px 0 100px 0 !important;
        .container {
          .row {
            //   text
            .col-md-6.padding-left-6 {
              margin-bottom: 60px;
              .col-md-6.col-sm-12.nopadding {
                .sec-title-container.poss.less-padding-3.text-right {
                  right: 0 !important;
                  h2.font-weight-6.less-mar-1.line-height-4 {
                    margin-right: 0 !important;
                  }
                }
              }
              // img
              .col-md-6.col-sm-12.text-center {
                margin-bottom: 30px !important;
                .logo-middle {
                  a {
                    img {
                      @include mq(250px, 500px) {
                        top: 0 !important;
                      }
                    }
                  }
                }
              }
              .clearfix {
              }
              p {
              }
              a {
                margin-top: 30px;
              }
            }
          }
          //   img
          .about_img.col-md-6.col-sm-10.col-xs-11.margin-bottom {
            @include mq(250px, 992px) {
              left: 2% !important;
            }
          }
        }
      }
      .clearfix {
      }
      // partners section-primary
      .partners.section-primary {
        top: 0 !important;
        margin-bottom: 0 !important;
        padding: 100px 0 !important;
        .container {
          .centered {
            h2 {
            }
            .line {
            }
          }
        }
        .row {
          ul.clients-list.grid-cols-5.hover-7.noborder {
            li {
              a {
                img {
                }
              }
            }
          }
        }
      }
      .clearfix {
      }
      // section-dark footer
      .section-dark {
        // test
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        .container {
          .row {
            // right
            .col-md-6.col-xs-12.clearfix.margin-bottom {
              h4.text-white.less-mar3.font-weight-6 {
              }
              .clearfix {
              }
              p.text-light {
              }
            }
            // center
            .col-md-2 {
            }
            // left
            .col-md-4.col-xs-12.clearfix.margin-bottom {
              h4.text-white.less-mar3.font-weight-6 {
              }
              .clearfix {
              }
              div {
                address.text-light.address_teba {
                }
              }
              .clearfix {
              }
              div {
                p.text-light {
                }
                span.text-light {
                  word-break: break-all;
                  @include mq(200px, 500px) {
                    word-break: break-all;
                  }
                }
              }
            }
            ul.footer-social-icons.white.left-align.icons-plain.text-center {
              li {
                a {
                  i {
                  }
                }
              }
            }
          }
        }
      }
      .clearfix {
      }
      // copy right
      .section-medium-dark {
        padding: 15px 0 !important;
      }
    }
  }
}
