@import './mixin/mixin';
// home rtl
.home {
  .container {
    .row {
      // slider
      .col-md-12.slide-controls-2.demoo {
      }
      // about & img
      .about.sec-padding {
        .container {
          .row {
            //   text
            .col-md-6.padding-left-6 {
              .col-md-6.col-sm-12.nopadding {
                .sec-title-container.poss.less-padding-3.text-right {
                }
              }
            }
          }
          //   img
          .about_img.col-md-6.col-sm-10.col-xs-11.margin-bottom {
          }
        }
      }
      // partners section-primary
      .partners.section-primary {
      }
      // section-dark footer
      .section-dark {
        // test
        padding-top: 50px !important;
        padding-bottom: 50px !important;
        .container{
          .row{
            // right
            .col-md-6.col-xs-12.clearfix.margin-bottom{

            }
            // center
            .col-md-2{}
            // left
            .col-md-4.col-xs-12.clearfix.margin-bottom{
              div{
                span.text-light{
                  word-break: break-all;
                  @include mq(200px,500px){
                      word-break: break-all;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
